.filters {
	background-color: #FFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
	position: relative;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFF;
	height: 48px;
	width: 20%;
	position: absolute;
	right: 0;
	border: none;
	border-radius: 4px;
	margin-right: 30px;
}

.filters button:hover {
	opacity: 90%;
}

.filters .locations,
.filters .amenities {
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 0 0 50px;
	position: relative;
}

.filters div > h3 {
	font-weight: 600;
}

.filters div > h4 {
	font-weight: 400;
	font-size: 14px;
}

.filters .locations {
	border-right: #DDD solid 1px;
}

.filters .popover {
	background-color: #FAFAFA;
	list-style-type: none;
	border: #DDD solid 1px;
	border-radius: 4px;
	position: absolute;
	width: 100%;
    max-height: 300px;
    overflow: scroll;
    scrollbar-width: none;
	top: 100%;
	right: 0px;
	padding: 30px;
	display: none;
}

.filters .popover ul {
	list-style-type: none;
	margin-left: 20px;
}

.filters .popover h2 {
	font-size: 16px;
}

.locations:hover .popover, .amenities:hover .popover  {
	display: block;
	z-index: 1;
}
