<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for state in cities_by_state|sort(attribute='name') %}
            <LI>{{state.id}}: <B>{{state.name}}</B>
                <UL>
                    {% for city in state.cities|sort(attribute='city_name') %}
                    <LI>{{city.city_id}}: <B>{{city.city_name}}</B></LI>
                    {% endfor %}
                </UL>
            </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
